<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo center">suivi des réclamations des clients</a>
        </div>
    </nav>

    <main class="container">
        <form action="#">
            <p>Annee:</p>
            <input type="text" class="datepicker" />
            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Agance:</option>
                    <option value="1">Khouribga</option>
                    <option value="2">ElJadida</option>
                    <option value="3">Safi</option>
                    <option value="3">Youssoufia</option>
                    <option value="3">Bengruerir</option>
                    <option value="3">Phosbougraa</option>
                </select>
            </div>

            <p>Darte de la redamation</p>
            <input type="text" class="datepicker" />

            <div class="input-field col s6">
                <p>Poste</p>
                <input  type="text" class="validate">
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Client/Entit</option>
                    <option value="1">Client</option>
                    <option value="2">Entit</option>
                </select>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Circuit/arret</option>
                    <option value="1">Circuit</option>
                    <option value="2">arret</option>
                </select>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="textarea2" class="materialize-textarea" data-length="600"></textarea>
                    <label for="textarea2">Description de la redamation:</label>
                </div>
            </div>

            <div class="input-field col s12">
                <select>
                    <option value="" disabled selected>Fondee</option>
                    <option value="1">Oui</option>
                    <option value="2">Non</option>
                </select>
            </div>

            <div class="input-field col s6">
                <p>Categorie de la redamation</p>
                <input  type="text" class="validate">
            </div>


            <div class="input-field col s6">
                <p>Type de la redamation</p>
                <input  type="text" class="validate">
            </div>

            <div class="input-field col s6">
                <p>Cause Racine</p>
                <input  type="text" class="validate">
            </div>

            <div class="input-field col s6">
                <p>Actions correctives</p>
                <input  type="text" class="validate">
            </div>


            <div class="input-field col s6">
                <p>Resposable de l'action/Service</p>
                <input  type="text" class="validate">
            </div>

            <p>Darte de la realisation</p>
            <input type="text" class="datepicker" />

            <p>Darte de la doture</p>
            <input type="text" class="datepicker" />

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <textarea id="textare1" class="materialize-textarea" data-length="600"></textarea>
                    <label for="textarea1">Efficacite de l'action(*apres analyse de la repetitivite de la reclamation:mensuellement):</label>
                </div>
            </div>


        </form>

        <div class="row">
            <button class="btn waves-effect waves-light btn-large right blue" type="submit" name="action">Envoyer
                <i class="material-icons right">send</i>
            </button>
        </div>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s6 center-align">
                    <a href="https://www.ocpgroup.ma/"><img src="images/OCP.jpg"
                            class="responsive-img logo-images z-depth-3" /></a>
                </div>
                <div class="col s6 center-align">
                    <img src="images/Sotreg.jpg" class="responsive-img logo-images z-depth-3" />
                </div>
            </div>
        </div>
        <div class="footer-copyright" style="background-color:  #023e8a;">
            <div class="container center-align">
                © 2020 <a href="#">Sotreg</a>
            </div>
        </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>