.NavBar{
    background-color: var(--ColorMain0);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 1.5s;
}

.NavBar a{
    text-decoration: none;
    color: var(--Color1);
    font-size: 19px;
    display: block;
}
.NavBar a:active{
    outline-style: none;
    color: var(--Color1);
    font-size: 18px;
}

.NavBar .img{
    height: 80px;
    width: 100px;
}

.LogoLeft{
    position: absolute;
    left: 2%;
}
.LogoRight{
    right: 0%;
    position: absolute;
}



.Footer{
    background-color: var(--ColorMain0);
    height: 35px;
    width: 100%;
    bottom: 0%;
    margin-top: 20px;

}

.Footer p{
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

.menu{
    /* background-color: lawngreen; */
    justify-content: space-around;
    margin-top: 0%;
    width: 200px;
    display: flex;
    margin-left: 20%;
}
.menu li{
    list-style: none;
    display: inline;
    /* justify-content: space-around; */
    
}